@use '../../styles/variables' as var;

.container {
  display: flex;
  flex-direction: column;

  b {
    color: var.$secondary-color;
  }

  time {
    font-size: 0.8rem;
  }

  p.review {
    margin: 0.5rem 0 0;
  }
}
