<nav class="{{mainNavigationStyle}}">
  <a href="/" class="{{logoStyle}}">
    <span>à la Dine</span>
  </a>

  <button class="{{menuButtonStyle}}">
    <svg
      stroke="currentColor"
      fill="none"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-label="Toggle navigation menu"
      height="1.75em"
      width="1.75em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </button>

  <ul class="{{menuLinksStyle}}">
    <li class="{{menuLinkStyle}}">
      <a href="/" data-navigo>Home</a>
    </li>
    <li class="{{menuLinkStyle}}">
      <a href="/favorite" data-navigo>Favorite</a>
    </li>
    <li class="{{menuLinkStyle}}">
      <a
        href="https://github.com/latipun7"
        target="_blank"
        rel="noopener noreferrer"
      >
        About Us
      </a>
    </li>
  </ul>
</nav>
