@use '../../styles/variables' as var;

@keyframes pour {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg);
  }
}

.hero {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  background: no-repeat bottom/cover url(../../assets/hero-image_3.jpg?size=320);

  h1 {
    position: absolute;
    top: 3.3rem;
    left: 50%;
    transform: translateX(-50%);
    font: 1.5rem/1 var.$headline-font-family;
    width: 90%;
    color: invert(var.$color);
    text-align: center;
  }

  .readyToPour {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25%;
    width: 33%;
    max-height: 45vh;

    .lamp {
      width: 80%;
      margin-bottom: 1rem;
      animation: 1s infinite alternate pour;
    }

    .lemonade {
      width: 80%;
      align-self: flex-end;
    }
  }
}
