@use '../../styles/variables' as var;
@use '../../styles/animation';

.hero {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  background: no-repeat bottom/cover url(../../assets/hero-image_3.jpg?size=320);

  h1 {
    position: absolute;
    top: 3.3rem;
    left: 50%;
    transform: translateX(-50%);
    font: 1.7rem/1 var.$headline-font-family;
    width: 90%;
    color: invert(var.$color);
    text-align: center;
  }

  .readyToPour {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 25%;
    width: 33%;
    max-height: 45vh;

    @media screen and (min-width: 23.5em) {
      width: 25%;
    }

    @media screen and (min-width: 35em) {
      width: 20%;
    }

    @media #{var.$screen-tablet} {
      width: 15%;
    }

    .lamp {
      @include animation.pour;
    }

    .lemonade {
      width: 80%;
      align-self: flex-end;
    }
  }

  & > svg {
    width: 90%;
    height: 60%;
  }

  @media #{var.$screen-laptop} {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 4.5rem 25% 1fr;
    grid-template-areas:
      ". ."
      "title image"
      "pour image";
    justify-items: center;

    h1 {
      position: relative;
      top: 0;
      left: 0;
      transform: translateX(0);
      font-size: 2.5rem;
      grid-area: title;
      align-self: end;
      margin-left: 15%;
      padding: 1rem 0;
      background-color: hsla(0, 0%, 0%, 0.7);
      width: auto;
    }

    .readyToPour {
      position: relative;
      top: auto;
      width: auto;
      grid-area: pour;
      align-self: start;
      margin-top: 3rem;
    }

    & > svg {
      grid-area: image;
      height: auto;
    }
  }
}
