@use '../../styles/variables' as var;

@keyframes pour {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg);
  }
}

.hero {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;

  h1 {
    position: absolute;
    top: 3.3rem;
    left: 50%;
    transform: translateX(-50%);
    font: 1.5rem/1 var.$headline-font-family;
    width: 90%;
    color: var.$color;
    text-align: center;
  }

  .lamp {
    position: absolute;
    top: 20%;
    left: 30%;
    animation: 1s infinite alternate pour;
  }

  .lemonade {
    position: absolute;
    top: 35%;
    left: 40%;
  }
}
