<figure>
  <img src="{{pictureIdData}}" alt="{{pictureNameData}}" />
</figure>
<div class="{{cityStyle}}">
  <div class="{{flailStyle}}"></div>
  <span style="color: #891818" class="icon"> {{mapMarkerIcon}} </span>
  {{cityData}}
</div>
<div class="{{titleStyle}}">
  <a href="{{titleLink}}" data-navigo>{{nameData}}</a>
</div>
<div class="{{ratingStyle}}" aria-label="{{ratingLabel}}">
  <div class="{{starsStyle}}">
    <div class="{{starOutlineStyle}}">
      <div class="{{starFillStyle}}">
        {{regStarIcon}}{{regStarIcon}}{{regStarIcon}}{{regStarIcon}}{{regStarIcon}}
      </div>
      {{starIcon}}{{starIcon}}{{starIcon}}{{starIcon}}{{starIcon}}
    </div>
  </div>
  {{ratingData}}
</div>
<p class="{{descriptionStyle}}">{{descriptionData}}</p>
