@use './variables' as var;

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@mixin loader {
  animation: spinAround 500ms infinite linear;
  border: 2px solid var.$secondary-color;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  height: 1em;
  width: 1em;
}
