@use 'variables' as var;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: change-color(var.$secondary-color, $alpha: 0.3) solid 3px;
}

*::selection {
  background: change-color(var.$primary-color, $alpha: 0.3);
}

*::-webkit-scrollbar {
  width: 0.625rem;
  background-color: var.$background-color;
}

*::-webkit-scrollbar-track {
  background-color: darken(var.$background-color, 10%);
  border-radius: 15px;
  box-shadow: inset 0px 1px 3px 0px var.$shadow-color;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var.$secondary-color;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.2),
    inset -2px -2px 2px hsla(0, 0%, 0%, 0.2);

  &:hover {
    background-color: lighten(var.$secondary-color, 5%);
  }

  &:active {
    background-color: lighten(var.$secondary-color, 10%);
  }
}

body {
  background: var.$background-color;
  font: var.$font-size #{"/"} var.$line-height var.$font-family;
  color: var.$color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 19rem;

  a {
    color: inherit;
    text-decoration: none;

    &#skip {
      position: absolute;
      left: -100%;
      top: 0;
      transition: left 0.5s ease-in-out;
      padding: 1.5rem 2.5rem;
      font-size: 1.125rem;
      background-color: var.$background-color;
      z-index: 99;

      &:focus {
        left: 0;
      }
    }
  }

  header {
    min-height: 3.7rem;
    height: auto;

    @media #{var.$screen-laptop} {
      min-height: 5.5rem;
    }
  }

  main {
    width: 90%;
    max-width: 65rem;
    margin: 1rem auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;

    a {
      color: var.$secondary-color;

      &:hover {
        color: adjust-color(
          var.$secondary-color,
          $saturation: 30%,
          $lightness: 12%
        );
        text-decoration: underline;
      }
    }
  }

  .icon {
    vertical-align: middle;
    margin: 0 0.25rem;
  }

  .screenreader-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
