$primary-color: hsl(182, 100%, 29%);
$secondary-color: hsl(318, 100%, 29%);
$background-color: hsl(0, 0%, 77%);

$font-family: "Nunito";
$font-size: 19px;
$line-height: 1.5;
$color: hsl(0, 0%, 93%);

$shadow-color: hsla(0, 0%, 0%, 0.15);
$shadow: 2px 2px 2px 2px $shadow-color;
