$primary-color: hsl(179, 93%, 44%);
$secondary-color: hsl(345, 70%, 47%);
$background-color: hsl(0, 0%, 92%);

$headline-font-family: "Paytone One", sans-serif;
$font-family: "Open Sans", sans-serif;
$font-size: 19px;
$line-height: 1.5;
$color: hsl(220, 17%, 17%);

$shadow-color: hsla(0, 0%, 0%, 0.15);
$shadow: 0 0 7px 2px $shadow-color;

$screen-tablet: "screen and (min-width: 48em)";
$screen-laptop: "screen and (min-width: 64em)";
