<div class="{{cardContainerStyle}}">
  <div class="{{cardHeaderStyle}}">
    <figure>
      <img src="{{pictureIdData}}" alt="{{pictureNameData}}" />
    </figure>
    <div class="{{cityStyle}}">
      <div class="{{flailStyle}}"></div>
      <span style="color: #891818" class="icon">{{mapMarkerIcon}}</span>
      {{cityData}}
    </div>
  </div>
  <a href="{{titleLink}}" class="{{titleStyle}}">{{nameData}}</a>
  <span class="{{ratingStyle}}" title="{{ratingLabel}}">
    <span class="{{starsStyle}}">
      <span class="{{starOutlineStyle}}">
        <span class="{{starFillStyle}}">
          {{regStarIcon}}{{regStarIcon}}{{regStarIcon}}{{regStarIcon}}{{regStarIcon}}
        </span>
        {{starIcon}}{{starIcon}}{{starIcon}}{{starIcon}}{{starIcon}}
      </span>
    </span>
    <span class="screenreader-text">{{ratingLabel}}</span>
    <span aria-hidden="true">{{ratingData}}</span>
  </span>
  <p>{{descriptionData}}</p>
</div>
