@use '../../styles/variables' as var;
@use '../../styles/animation';

footer {
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;

  .copyright {
    font: 1.1rem/1 var.$headline-font-family;
    margin-bottom: 1rem;
  }

  .icon {
    vertical-align: middle;
    color: hsl(0, 100%, 39%);

    svg {
      @include animation.pulse;
    }
  }
}
