@use '../../styles/variables' as var;
@use '../../components/card/card.module';
@use '../../styles/animation';

.this {
  min-height: 85vh;

  .loading {
    @include animation.loader;
    height: 3rem;
    width: 3rem;
  }

  .error {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
}

.container {
  width: 100%;

  .header {
    .favoriteButton {
      border: none;
      position: absolute;
      bottom: -1.25rem;
      right: 1rem;
      border-radius: 50%;
      color: hsl(0, 70%, 32%);
      background-color: var.$primary-color;
      padding: 0.75rem;
      height: 3rem;
      width: 3rem;
      box-shadow: var.$shadow;
      transition: background-color 0.25s ease-in-out,
        box-shadow 0.25s ease-in-out, bottom 0.25s ease-in-out;

      &:hover {
        background-color: darken(var.$primary-color, 5%);
        box-shadow: 0 0 1px 1px var.$shadow-color;
      }

      @media #{var.$screen-tablet} {
        & {
          right: 2rem;
        }
      }

      @media #{var.$screen-laptop} {
        & {
          right: 3rem;
        }
      }
    }
  }

  .title {
    color: var.$secondary-color;

    &:hover {
      color: adjust-color(
        var.$secondary-color,
        $saturation: 30%,
        $lightness: 12%
      );
    }
  }

  .city {
    text-align: center;
  }

  details {
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 1rem;

    summary {
      font-weight: bold;
      text-align: center;
      margin: -0.5em -0.5em 0;
      padding: 0.5em;
    }

    &[open] {
      padding: 0.5em;

      summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: 0.5em;
      }
    }

    p {
      margin: 1rem 0;
    }
  }

  .subtitle {
    font-weight: bold;
    text-align: center;
  }

  .reviewContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
    margin: 1rem 1rem 2rem;
  }
}
