@use '../../styles/variables' as var;
@use '../../components/card/card.module';
@use '../../styles/animation';

.this {
  min-height: 70vh;
  justify-content: center;

  .loading {
    @include animation.loading;
  }

  .error {
    font-size: 2rem;
    font-weight: bold;
  }
}

.container {
  width: 100%;

  .title {
    color: var.$secondary-color;
    font-size: 1.5rem;

    &:hover {
      color: adjust-color(
        var.$secondary-color,
        $saturation: 30%,
        $lightness: 12%
      );
    }
  }

  .city {
    text-align: center;
  }

  details {
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 1rem;

    summary {
      font-weight: bold;
      text-align: center;
      margin: -0.5em -0.5em 0;
      padding: 0.5em;
    }

    &[open] {
      padding: 0.5em;

      summary {
        border-bottom: 1px solid change-color(var.$secondary-color, $alpha: 0.5);
        margin-bottom: 0.5em;
      }
    }

    p {
      margin: 1rem 0;
    }
  }

  .subtitle {
    font-weight: bold;
    text-align: center;
  }

  .reviewContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
    margin: 1rem 1rem 2rem;
  }
}
