@use '../../styles/variables' as var;
@use '../../styles/animation';

.favoriteButton {
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -1.25rem;
  right: 1rem;
  border-radius: 50%;
  color: hsl(0, 70%, 32%);
  background-color: var.$primary-color;
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
  box-shadow: var.$shadow;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
    bottom 0.25s ease-in-out;

  &:hover {
    background-color: darken(var.$primary-color, 5%);
    box-shadow: 0 0 1px 1px var.$shadow-color;
  }

  .loading {
    @include animation.loader;
    width: 1.5rem;
    height: 1.5rem;
  }

  @media #{var.$screen-tablet} {
    & {
      right: 2rem;
    }
  }

  @media #{var.$screen-laptop} {
    & {
      right: 3rem;
    }
  }
}
